@import '../../../styles/variables';
.window-overlay {
	display: block;
	align-items: flex-start;
	background-color: $background-color_modal;
	height: 100%;
	justify-content: center;
	left: 0;
	overflow-y: auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 20;
}
.bus_icons {
	position: absolute;
	left: 14px;
	top: 46px;
}
.window {
	box-sizing: border-box;
	display: block;
	background-color: $background-color_card;
	border-radius: 12px;
	margin: 48px 25%;
	overflow: hidden;
	position: relative;
	width: 50%;
	z-index: 25;
	padding: 10px;
	min-height: 827px;
}
.modal_title {
	color: $color_title;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	box-shadow: none;
	font-size: 16px;
	font-weight: 600;
	height: 32px;
	line-height: 24px;
	margin: -6px -10px;
	min-height: 24px;
	padding: 30px 40px;
	resize: none;
}
.modal_input {
	position: relative;
	margin: 0 20px;
	border: none;
	height: 57px;
	width: 90%;
	border-radius: 10px;
	overflow: hidden;
	box-sizing: border-box;
	color: $color_black;
	font-size: 14px;
	border: 1px solid #E6E8EC;
	background-color: $background-color_move;
	box-shadow: 0.3px 0.3px rgb(151, 147, 147);
	transition: width 0.3s, height 0.3s;
	&:focus {
		background-color: $border-color;
		border: none;
		outline: 3px solid #0C66E4;
	}
	&::placeholder {
		color: $color_title;
		font-weight: 500;
		font-size: 15px;
		position: absolute;
		top: 15px;
		left: 10px;
	}
}
.small {
	width: 90%;
	height: 57px;
}
.large {
	width: 90%;
	height: 150px;
}
.title_input {
	width: 90%;
	border: none;
	font-size: 14px;
	font-weight: 600;
	color: $color_title;
	height: 30px;
	padding-left: 10px;
	background-color: $background-color_transparent;
	border-radius: 5px;
	&:focus {
		border: none;
		outline: none;
		background-color: $border-color;
		border: 1px solid #E6E8EC;
		background-color: $border-color;
		box-shadow: 0.3px 0.3px rgb(151, 147, 147);
	}
	&:hover {
		border: 2px solid #4d97d3;
	}
}
.move {
	cursor: pointer;
	display: block;
	padding: 6px 12px;
	text-align: center;
	color: $color_title;
	margin: 9px;
	height: 32px;
	width: 104px;
	scroll-margin: 80px;
	background-color: $background-color_move;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 10px;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	position: relative;
	right: -590px;
	top: -15px;
	&:hover {
		background-color: $background-color_move_hover;
	}
}
.close {
	position: absolute;
	right: 50px;
	color: $color_grey_2;
	font-size: 17px;
}
.desc_icon {
	position: absolute;
	top: 122px;
	left: 10px;
}
.list-type {
	display: flex;
	justify-content: flex-start;
	font-size: 14px;
	margin-left: 10px;
	font-weight: 400;
}
.underline {
	text-decoration: underline;
}
.action {
	color: $color_grey;
	font-weight: 600;
	font-size: 12px;
	margin-bottom: 24px;
	position: relative;
	right: -609px;
	margin-top: 25px;
}
.save-btn {
	padding: 7px 14px;
	margin-top: 10px;
	margin-left: 20px;
	border-radius: 3px;
	background-color: $background-color_save_btn;
	color: $border-color;
	border: none;
	font-size: 14px;
	font-weight: 550;
	&:hover {
		background-color: $background-color_save_btn_hover;
	}
}
.cancel-btn {
	margin-left: 5px;
	padding: 7px 14px;
	border-radius: 3px;
	margin-top: 10px;
	font-size: 14px;
	border: none;
	background-color: $background-color_card;
	font-weight: 550;
	color: $color_cancel;
	&:hover {
		background-color: $background-color_move_hover;
	}
}
