@import '../../../styles/variables';
.board {
	width: 16px;
	position: fixed;
	z-index: 5;
	height: calc(100vh - 50px);
	margin: 0px;
	background-color: $background-color_nav;
	border-top: 1px solid #B35A85;
	border-right: 1px solid #B35A85;
	border-right: 1px solid #D575A3;
	font-family: $font-family;
}
.arrow_bar {
	position: relative;
	right: -3.5px;
	top: 15px;
	color: $color_white;
	border-radius: 100%;
	z-index: 2;
	border: 1px solid #B35A85;
	background-color: $background-color_arrowbar;
	margin: 0;
}
.board_container {
	width: calc( 1600px - 20px );
	height: 56px;
	position: relative;
	background-color: $background-color_board;
	border-top: 1px solid #B35A85;
	display: flex;
}
.wrapper {
	display: flex;
}
.board_name {
	font-size: 18px;
	font-weight: bold;
	line-height: 32px;
	text-decoration: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: $color_white;
	margin-bottom: 12px;
	margin-left: 33px;
	padding: 0 10px;
	&:hover {
		border: 0px solid white;
		border-radius: 2px;
		color: $color_white;
		background-color: $background-color_board_hover;
	}
}
.star_icon {
	position: absolute;
	left: 191px;
	top: 13px;
	padding: 6px;
	color: $color_white;
	&:hover {
		border: 0px solid white;
		border-radius: 2px;
		color: $color_white;
		background-color: $background-color_board_hover;
	}
}
.members {
	position: absolute;
	left: 227px;
	padding: 6px;
	top: 13px;
	color: $color_white;
	&:hover {
		border: 0px solid white;
		border-radius: 2px;
		color: $color_white;
		background-color: $background-color_board_hover;
	}
}
.arrow_drop {
	position: absolute;
	left: 352px;
	color: $color_white;
	padding: 6px;
	top: 12px;
	&:hover {
		border: 0px solid white;
		border-radius: 2px;
		color: $color_white;
		background-color: $background-color_board_hover;
	}
}
.rocket_icon {
	position: absolute;
	right: 292px;
	padding: 6px;
	top: 13px;
	color: $color_white;
	&:hover {
		border: 0px solid white;
		border-radius: 2px;
		color: $color_white;
		background-color: $background-color_board_hover;
	}
}
.thunder {
	position: absolute;
	right: 256px;
	padding: 6px;
	top: 13px;
	width: 16px;
	&:hover {
		border: 0px solid white;
		border-radius: 2px;
		color: $color_white;
		background-color: $background-color_board_hover;
	}
}
.pyramid_icon {
	position: absolute;
	right: 221px;
	top: 13px;
	color: $color_white;
	width: 16px;
	padding: 6px;
	&:hover {
		border: 0px solid white;
		border-radius: 2px;
		color: $color_white;
		background-color: $background-color_board_hover;
	}
}
.booster_icon {
	position: absolute;
	right: 132px;
	width: 9px;
	top: 33px;
	height: 9px;
	z-index: 2;
}
.three_dot {
	position: absolute;
	right: 12px;
	top: 12px;
	padding: 6px;
	color: $color_white;
	&:hover {
		border: 0px solid white;
		border-radius: 2px;
		color: $color_white;
		background-color: $background-color_board_hover;
	}
}
.btn-board {
	position: relative;
	left: 75px;
	top: 13px;
	border: 0px solid #dfe1e6;
	border-radius: 2px;
	margin-bottom: 25px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 10px;
	font-size: 13px;
	padding-top: 3px;
	font-weight: 600;
	color: $color_title;
	background-color: $background-color_share;
	&:hover {
		background-color: $border-color;
	}
}
.filter_txt {
	color: $color_white;
	position: absolute;
	right: 172px;
	font-size: 14px;
	top: -2px;
	font-weight: 500;
	padding: 6px;
	&:hover {
		border: 0px solid white;
		border-radius: 2px;
		color: $color_white;
		background-color: $background-color_board_hover;
	}
}
.id_icon_boost {
	color: $color_white;
	position: absolute;
	right: 130px;
	border: 1px solid #DE350A;
	padding: 3px 4px;
	font-size: 13px;
	border-radius: 100%;
	width: 18px;
	font-weight: 500;
	height: 18px;
	background-color: $background-color_id;
	top: 17px;
}
.btn-share {
	position: relative;
	top: 14px;
	right: -1087px;
	width: 81px;
	border: 0px solid #dfe1e6;
	border-radius: 2px;
	margin-bottom: 25px;
	padding-right: 15px;
	padding-bottom: 27px;
	padding-left: 10px;
	font-size: 13px;
	padding-top: 3px;
	font-weight: 600;
	color: $color_title;
	background-color: $background-color_share;
	&:hover {
		background-color: $border-color;
	}
}
