
$color_white: white;
$color_pure_white: #ffffff;
$font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$background-color_nav: #AC4C7A;
$background-color_create_btn: hsla(315, 57%, 81%, 0.311);
$background-color_create_hover: #C582A2;
$background-dropdown_hover: #A6C5E229;
$background-color_transparent: transparent;
$background-color_id: #DE350A;
$border-color: #ffffff;
$color_title: #172b4d;
$background-color_arrowbar: #874967;
$background-color_board: #9c446e;
$background-color_board_hover: #A6C5E229;
$background-color_share: #dfe1e6;
$color_black: black;
$color_grey: #44546f;
$background-color_card: #F1F2F4;
$color_grey_2: grey;
$color_cancel: #1C3051;
$background-color_modal: #000000a3;
$background-color_move: #091e420f;
$background-color_move_hover: #D0D4DB;
$background-color_save_btn: #0C66E4;
$background-color_save_btn_hover: #0055CC;
$background-color_small_modal_hover: #DCDFE4;
$color_1: inherit;
$color_red: #ed4337;
$color_bus:#626f86;
