@import '../../../styles/variables';
.card-container {
	display: flex;
	flex-direction: row;
	list-style: none;
	padding: 0 30px;
	gap: 13px;
	width: 100%;
}
.card-pos {
	margin-bottom: 8px;
}
.card {
	display: flex;
	position: relative;
	background-color: $background-color_card;
	padding: 10px 10px 0px 10px;
	justify-content: space-between;
	align-self: flex-start;
	height: 100%;
	border-radius: 12px;
	flex-direction: column;
	width: 18%;
	box-sizing: border-box;
	vertical-align: top;
}
