@import '../../../styles/variables';

.add-card {
	background-color: $background-color_transparent;
	color: $color_1;
	border: none;
	cursor: pointer;
	padding: 10px;
	width: 100%;
	text-align: left;
	&:hover {
		background-color: $background-color_move_hover;
		border-radius: 7px;
		padding-bottom: 5px;
		height: 35px;
		margin-bottom: 10px;
	}
}
 .add_icon {
 	color: $color_grey;
 	z-index: 5;
 }
 .add_box_container {
 	width: 100%;
 	display: flex;
 	justify-content: space-between;
 	box-sizing: border-box;
 }
 .bus_icon {
 	margin: 5px;
	color: $color_bus;
 }
 .add_items {
 	gap: 5px;
 	flex: 1;
 	display: flex;
 	justify-content: start;
 	border-radius: 5px;
 	align-items: center;
 	box-sizing: border-box;
 }
 .input-title {
 	background-color: $border-color;
 	position: relative;
 	color: $color_1;
 	border: none;
 	padding: 10px;
 	width: 100%;
 	text-align: left;
 	border-radius: 12px;
 	box-sizing: border-box;
 	height: 74px;
 	&:focus {
 		border: none;
 		outline: none;
 	}
 	&::placeholder {
 		color: $color_grey;
 		font-weight: 400;
 		font-size: 14px;
 		position: absolute;
 		top: 0;
 		padding-top: 10px;
 		left: -12px;
 	}
 }
 .btn {
 	cursor: pointer;
 	background-color: $background-color_save_btn;
 	margin-top: 10px;
 	border: none;
 	width: 90px;
 	color: $border-color;
 	padding: 10px;
 	border-radius: 4px;
 	margin-right: 10px;
 	font-weight: 600;
 	font-size: 14px;
 	margin-bottom: 5px;
	&:hover{
		background-color: $background-color_save_btn_hover;
	}
 }
 span {
 	cursor: pointer;
 }
 .add_card_txt {
 	font-size: 14px;
 	color: $color_grey;
 	border-radius: 5px;
 	font-weight: 600;
	padding-left: 5px;
 }
 .error {
 	color: $color_red;
 }
